<div style="overflow: auto;max-height: 500px;">
  <h2>ALTERAR PRODUTO</h2>
  <form [formGroup]="formulario">
    <mat-form-field>
      <mat-label>NOME</mat-label>
      <input formControlName="nome" matInput placeholder="Informe o nome" value="{{this.produto.nome}}" />
      <input style="width:0px;" formControlName="id" matInput type="text" value="{{this.produto.id}}"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>DESCRIÇÃO</mat-label>
      <input formControlName="descricao" matInput placeholder="Informe a descricao" value="{{this.produto.descricao}}"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>VALOR</mat-label>
      <input currencyMask formControlName="valor" matInput placeholder="Informe o valor"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" value="{{this.produto.valor}}" />
    </mat-form-field>
    <div class="action-button">
      <button (click)="atualizar();" mat-raised-button color="primary">ATUALIZAR</button>
    </div>
  </form>
</div>
